<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스마트 독서실 관리자 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <header class="py-4">
      <h1 class="text-center text-2xl font-bold">
        스마트 독서실 관리자 페이지
      </h1>
    </header>

    <main
      class="container mx-auto p-4 flex flex-wrap gap-8 justify-center items-stretch"
    >
      <section
        class="bg-white p-6 rounded-2xl max-w-md w-full md:flex-grow lg:flex-grow mx-auto mt-8"
      >
        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
          방 CCTV
        </h2>
        <video
          id="video"
          controls
          autoplay
          class="w-full rounded-xl border border-gray-300 mb-4"
        ></video>
        <div class="flex items-center gap-4 justify-center">
          <button
            onclick="adjustAngle(-10)"
            class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 flex items-center justify-center"
          >
            ←
          </button>
          <input
            type="number"
            id="angle-input"
            placeholder="Enter angle (0-180)"
            min="0"
            max="180"
            onkeydown="handleEnterKey(event)"
            class="border border-gray-300 rounded-full px-3 py-2 w-24 text-center focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
          <button
            onclick="adjustAngle(10)"
            class="px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 flex items-center justify-center"
          >
            →
          </button>
        </div>
      </section>

      <section
        class="bg-white p-6 rounded-2xl max-w-md w-full md:flex-grow lg:flex-grow mx-auto mt-8"
      >
        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
          책상 CCTV
        </h2>
        <video
          id="video-desk"
          controls
          autoplay
          class="w-full rounded-xl border border-gray-300 mb-4"
        ></video>
        <div class="flex items-center gap-4 justify-center">
          <button
            onclick="fetchDeskAlert()"
            class="px-4 py-2 bg-red-500 text-white rounded-full hover:bg-red-600 flex items-center justify-center"
          >
            경고
          </button>
        </div>
      </section>
    </main>

    <!-- for controlling camera -->
    <script>
      const csrftoken = "{{ csrf_token }}";
      let currentAngle = 0;

      function fetchCurrentAngle() {
        fetch(`/room/servo`, { method: "GET" })
          .then((response) => response.json())
          .then((data) => {
            if (data.status) {
              currentAngle = data.status;
              updateDisplayedAngle();
            } else {
              sendAngleToServer(90);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      function adjustAngle(change) {
        currentAngle += change;
        if (currentAngle < 0) currentAngle = 0;
        if (currentAngle > 180) currentAngle = 180;

        sendAngleToServer(currentAngle);
      }

      function setAbsoluteAngle() {
        const inputAngle = parseInt(
          document.getElementById("angle-input").value,
          10
        );
        if (isNaN(inputAngle) || inputAngle < 0 || inputAngle > 180) {
          alert("Please enter a valid angle between 0 and 180.");
          return;
        }
        currentAngle = inputAngle;
        sendAngleToServer(currentAngle);
      }

      function sendAngleToServer(angle) {
        fetch(`/room/servo`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({ angle: angle }),
        })
          .then((response) => response.json())
          .then((data) => {
            currentAngle = data.status;
            updateDisplayedAngle();
          })
          .catch((error) => console.error("Error:", error));
      }

      function updateDisplayedAngle() {
        document.getElementById("angle-input").value = currentAngle;
      }

      function handleEnterKey(event) {
        if (event.key === "Enter") {
          setAbsoluteAngle();
        }
      }

      window.onload = fetchCurrentAngle;
    </script>

    <!-- for hls streaming -->
    <script>
      if (Hls.isSupported()) {
        var video = document.getElementById("video");
        var hls = new Hls();
        hls.loadSource("https://skycastle.cho0h5.org/stream/index.m3u8");
        hls.attachMedia(video);
        video.muted = true;
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
          video.play();
        });
        hls.on(Hls.Events.ERROR, function (event, data) {
          console.log("Error occurred: ", data);
        });
      }
    </script>

    <!-- for desk hls streaming -->
    <script>
      if (Hls.isSupported()) {
        var video = document.getElementById("video-desk");
        var hls = new Hls();
        hls.loadSource("https://skycastle.cho0h5.org/stream_desk/index.m3u8");
        hls.attachMedia(video);
        video.muted = true;
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
          video.play();
        });
        hls.on(Hls.Events.ERROR, function (event, data) {
          console.log("Error occurred: ", data);
        });
      }
    </script>

    <!-- for desk alert -->
    <script>
      function fetchDeskAlert() {
        fetch(`/buzzer/status`, { method: "POST" })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert("경고를 성공적으로 보냈습니다.");
            } else {
              alert("경고를 보내는 데 실패했습니다.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("경고를 보내는 데 실패했습니다.");
          });
      }
    </script>
  </body>
</html>
